<h2>create</h2>

<form action="/math" method="POST">
	
	<div>
	  <label for="title">Title<label>
	  <input id="title" type="text" name="title" value="" required>
	</div>
	
	<div>
	  <label for="body">body<label>
	  <textarea name="body" id="body"></textarea>
	</div>
	
	<div>
	  <label for="example">example<label>
	  <textarea name="example" id="example"></textarea>
	</div>

	<div>
	  <label for="exercise">exercise<label>
	  <textarea name="exercise" id="exercise"></textarea>
	</div>
	
	<div>
	  <input type="submit" name="submit-btn" value="Submit">
	</div>

</form>