<h1 style="margin-top:30px"> Editing <%= physics.title %></h1>
<form action="/physics/<%= physics.title %>" method="POST">
	<input type="hidden" name="_method" value="put" />

	<div>example: <textarea name="example" id="example"><%= physics.example %></textarea></div>
	<input type="submit" value="submit">
</form>

<a href="/physics/edit_example_phy/<%= physics.title %>">Edit</a> | 
<a href="/physics">Back</a>