    <div class="row">
      <div class="col-md-1 col-lg-1">
      </div>
      <div class="col-md-10 col-lg-10">
      <h1><font color="white" size="30">O</font><font color="#8181F7" size="10">pen&nbsp&nbsp</font> <font color="#04B404" size="30">L</font><font color="#F5A9BC" size="10">earning</font></h1>

      <div class="ui-widget ui large icon input">
        <input id="tags" type="text" placeholder="搜尋">
      </div>
      <div id="searchicon"><i class="search icon"></i></div> 
      <br>     

    <div class="red four fluid ui buttons">
      <a href="/physics"><div class="ui button"><i class="large globe icon"></i>物理 / Physics

      </div></a>
      
      <a href="/math"><div class="ui button"><i class="large gift icon"></i>數學 / Math

      </div></a>

      <a href="/english"><div class="ui button"><i class="large book icon"></i>英文 / English

      </div></a>

      <a href="/discuss"><div class="ui button"><i class="large lab icon"></i>討論區 / Disquz

      </div></a>

        
      </div>
    </div>

    <div class="col-md-1 col-lg-1">
    </div>  
  </div>