
<!--     <body class="index loading"> -->
    
        <!-- Header -->
            <header id="header" class="alt" style="
    display: initial;">
                <h1 id="logo"><a href="/main">Open Learning</a></h1>
                <nav id="nav">
                    <ul>
                        <li class="current"><a href="/main">Start Learning</a></li>
                        <li><a href="#" class="button special">Sign Up</a></li>
                    </ul>
                </nav>
            </header>

        <!-- Banner -->     
            <section id="banner">
                
                <!--
                    ".inner" is set up as an inline-block so it automatically expands
                    in both directions to fit whatever's inside it. This means it won't
                    automatically wrap lines, so be sure to use line breaks where
                    appropriate (<br />).
                -->
                <div class="inner">
                    
                    <header>
                        <h2>Open Learning</h2>
                    </header>
                    <p>a free source for learning
                    <footer>
                        <ul class="buttons vertical">
                            <li><a href="#main" class="button fit scrolly">WHAT IS OPENLEARNING ?</a></li>
                        </ul>
                    </footer>
                </div>
            </section>
        
        <!-- Main -->
            <article id="main">
                
                <header class="special container">
                    <h2>What is openlearning?</h2>
                </header>
                    
                <!-- Two -->
                    <section class="wrapper style1 container special">
                        <div class="row">
                            <div class="4u">
                            
                                <section>
                                    <span class="icon feature fa-search"></span>
                                    <header>
                                        <h3>我們看到，教育資源不均的問題</h3>
                                    </header>
                                    <p>補習班、參考書等高花費方式，取代一般學校，成為國高中教育資源的主力。每個學生都得花許多補習費、買書費去負擔學業。國英物數化，科科都要補？</p>
                                </section>
                            
                            </div>
                            <div class="4u">
                            
                                <section>
                                    <span class="icon feature fa-globe"></span>
                                    <header>
                                        <h3>我們希望，透過網路改善這個世界</h3>
                                    </header>
                                    <p>網際網路是現代很便宜、方便、快速的傳播媒介，我們希望透過社群編輯的方式編撰出最正確、最完整的教材，包括範例、公式、題庫、討論區，所有學習上需要的資源都能在Open Learning裡找到。</p>
                                </section>
                            
                            </div>
                            <div class="4u">
                            
                                <section>
                                    <span class="icon feature fa-users"></span>
                                    <header>
                                        <h3>我們歡迎，每一個人的加入</h3>
                                    </header>
                                    <p>只要您認同我們的理念，也相信能夠透過網路傳播教育資源、進而改變世界，不論您是熱血的大學生、國高中學生、學校老師、補教名師、大學教授，我們都非常歡迎您和我們一起實踐這個夢想。只要簡單的申請帳號，就能輕鬆的編寫教材！</p>
                                </section>
                            
                            </div>
                        </div>
                    </section>
                    
            </article>

        <!-- CTA -->
            <section id="cta">
            
                <header>
                    <h2>Ready to do <strong>something</strong>?</h2>
                </header>
                <footer>
                    <ul class="buttons">
                        <li><a href="#" class="button special">Start Learning</a></li>
                        <li><a href="#" class="button">Edit content</a></li>
                    </ul>
                </footer>
            
            </section>

        <!-- Footer -->
            <footer id="footer">
            
                <ul class="icons">
                    <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
                    <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
                </ul>
                
                <span class="copyright">&copy; Open Learning. All rights reserved. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>
            
            </footer>

