  <div id="hello">
  <div id="index2back">
    <br><br>
  <% include head %>

    <div id="index2contents">
      <div class="row">
        <div class="block1 col-md-0 col-lg-1">
        </div>
        <div class="block2 col-md-12 col-lg-10" id="mainsection">
          <div>
            <!--div id="edit" class="orange circular ui button" onclick="window.location='/edit';"><i class="glyphicon glyphicon-pencil"></i> E d i t</div-->
          </div>
          <br><br>

          <div id="firstmessage">
            <div class="ui info message">
              <div class="header">
                最直覺的關鍵字搜尋！
              </div>
              右上方的搜尋欄位，輸入您想找尋的關鍵字。<br>
              例如：運動、矩陣，就能輕鬆找到您需要的教材！
            </div>
          </div>
          <div id="secondmessage">
            <div class="ui success message">
              <div class="header">
                最清楚的分科內容！
              </div>
              滑鼠移至粉紅色分科欄位上面，就可以看到自己想找的章節喔！
            </div>
          </div>
          <br>
          <div id="thirdmessage">
            <div class="ui success message">
              <div class="header">
                有問題想要發問？
              </div>
              按下這個按鈕，立刻移至問題討論區！
              <a class="ui purple button">討論區</a>
            </div>
          </div>
          <div id="forthmessage">
            <div class="ui warning message">
              <div class="header">
                想知道自己學到多少了？
              </div>
              每一章節都有練習題喔，來看看自己的成就統計吧！
              <a class="ui purple button">成就統計</a>
            </div>
          </div>

        </div>
        <div class="col-md-0 col-lg-1">  
        </div>  
      </div>

      <br><br><br>
    </div>
  </div>
  <% mains.forEach(function(main) { %>
  <div>

      <h2><%= main.title %></h2>
      <div class="content">
        <%= main.body %>
      </div>
  </div>

  <% }); %>
  </div>