  <div id="hello">
  <div id="index2back">
  <br><br>
      <% include head %>

    <div class="col-md-1 col-lg-1">
    </div>  
  </div>

    <div id="index2contents">
      <div class="row">
        <div class="block1 col-md-0 col-lg-1">
        </div>
        <div class="block2 col-md-12 col-lg-10" id="mainsection">

<div id="chapter">

      <% maths.forEach(function(math) { %>


		<a href="../math/<%= math.title %>"><div class="orange circular ui button"><%= math.title %></div></a>


        </div>
        
        <div class="col-md-0 col-lg-1">  
        </div>  
      </div>
    </div>

    <% }); %>

  </div>
